.cartItem-card {
  width: 1rem;
}
.cartItem-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.subtotal-text {
  font-weight: bold;
}

.remove-button {
  color: white !important;
  font-weight: bold;
}
