.flag {
  margin-right: 3%;
}

.globe-btn {
  background-color: #f2a0dc !important;
  border-color: #f2a0dc !important;
  fill: #8c0f31;
}

.logo {
  width: 70%;
}

.globe-img {
  width: 25px;
}

.bag {
  width: 45px;
}

@media (min-width: 992px) {
  #navbarScroll {
    flex-wrap: wrap !important;
    justify-content: space-evenly !important;
  }
}
