.category-img {
  width: 40%;
  max-height: 115px;
}

.category-card {
  display: flex;
  margin: 2rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.shop-text {
  color: white;
  font-weight: bold;
  margin-block-end: 0;
}

@media (min-width: 992px) {
  .category-img {
    max-height: 11500px;
  }
}
