.rate-count {
  font-weight: bold;
  color: blueviolet;
}

.colour-img {
  padding: 1%;
  width: 10%;
}

.colour-dd {
  display: flex;
  align-items: flex-start;
}

.colour-dd-tt {
  margin: 2%;
  color: white !important;
  font-weight: bold;
  width: 90%;
}
