.rating-section {
  margin-left: 1rem;
}
.rate-count {
  font-weight: bold;
  color: blueviolet;
}

.colour-img {
  padding: 1%;
  width: 10%;
}

.colour-dd {
  display: flex;
  align-items: flex-start;
}

.colour-dd-tt {
  margin: 2%;
  color: white !important;
  font-weight: bold;
  width: 90%;
}

.detailed-product {
  margin-top: 40%;
}

#quantity {
  margin-left: 1rem;
}

@media (min-width: 992px) {
  .detailed-product {
    margin-top: 201px;
  }
}
